body {
  background-color: rgb(146, 138, 133);
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  background-color: white;
}

.snake {
  background-color: green !important;
  /* border-radius: 5px; */
}

.food {
  /* background-color: red !important; */
  /* border-radius: 50%; */
  background-image: url("../public/apple.png");
  background-size: contain;
  background-position: center;
  width: 30px;
  height: 30px;
}


